* {
    background-color: #262F56;
    color: rgb(255, 255, 255);    
}

.txt {
    margin: 50px auto 50px;
    font-size: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 83px ;
    letter-spacing: 0%;
}  

.box {
    margin: 0 auto 30px;
    font: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
    border: 3px solid #fff;
    text-align: center;
    width: 482px;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: #ffffff;
    color: #262F56;
}

.box:active{
    background-color: #8095f1;
    color: #000000;
}


