* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:wght@100..900&display=swap');




.main{
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    justify-content: center;
}


.block {
    margin-top: 80px;
    width: 1340px;
    height: 448px;
    background-color: rgb(43, 49, 67);
}

.box {
    display: flex;
    justify-content: space-between;
}

.aboutTheCompany{
    width: 492px;
    height: 288px;
    
    margin-top: 112px;
    margin-left: 58px;
}

.payment{
    width: 492px;
    height: 240px;
}


.linkText {
    display: flex;
    width: 492px;
    height: 48px;
    border-bottom: 1.2px solid #3E465F;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 12px;
    padding-left: 16px;
}

.payment {
    margin-top: 112px;
    margin-right: 58px;
}



.paymentInformation{
    width: 492px;
    height: 48px;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255); 
    padding: 12px;
    padding-left: 16px;
    border-bottom: 1.2px solid #3E465F;
    
}
