*{
    box-sizing: border-box
}



@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:wght@100..900&display=swap');

.main{
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.block{
    width: 1440px;
    height: 85px;
    background-color: rgb(26, 30, 41);
    margin-top: 119px;
}

.box {
    display: flex;
    justify-content: space-between;
}

.goods{
    color: rgb(255, 126, 0);
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-top: 30px;
    margin-left: 87px;
}

.vector {
    margin-top: 39px;
    margin-left: 8px;
}
.services{
    color: #fff;
    margin-left: 47px;
    font-size: 16px;
    font-weight: 500;
}

.downArrow {
    margin-top: 39px;
    margin-left: 5px;
}


.arrow{
    margin-top: 39px;
    margin-left: 130px;
}

.leftSide {
    width: 680px;
    height: 85px;
}

.rightSide {
    width: 671px;
    height: 85px;

}

.titleIcon {
    transform: translate(0px, -10px);
}




.magnifyingGlass{
    margin-left: 106px;
}

.personalAccount{
    margin-left: 16px;
    display: inline-block;
    margin-top: 30px;
    color: #fff;
}

.arrowToo {
    margin-top: 38px;
    margin-left: 5px;
}

.icpnLov {
    width: 80px;
    height: 80px;
    margin-left: 30px;
}

