* {
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:wght@100..900&display=swap');

.main {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.block {
    width: 1340px;
    height: 432px;
    background-color: #2B3143;
   margin-top: 150px;
}

.box {
    display: flex;
    justify-content: space-between;
}

.leftSide {
    width: 600px;
    height: 128px;
    border-bottom: 1.2px solid #3E465F;
    margin-top: 112px;
    margin-left: 58px;
}

.rightSide {
    width: 492px;
    height: 144px;
    margin-top: 112px;
    margin-right: 58px;
}

.tireFitting{
    display: flex;
}

.icon {
    width: 96px;
    height: 96px;
    margin-top: 16px;
}

.title {
    color: rgb(255, 133, 14);
    font-size: 24px;
    font-weight: 500;
    margin-left: 24px;
    margin-top: 14px;
}

.time {
    width: 16px;
    height: 16px;
    margin-left: 24px;
    margin-top: 16px;
}

.operatingMode{
    color: rgb(229, 229, 229);
    display: inline-block;
    margin-left: 8px;
    margin-top: 13.5px;
}

.ruble {
    display: flex;
    margin-left: 24px;
    margin-top: 14px;
}

.price {
    margin-top: 14px;
    color: rgb(229, 229, 229);
}

.boxToo {
    display: flex;
    gap: 8px;
}


.leftSideToo {
    margin-top: 16px;
    margin-left: 58px;
    width: 600px;
    height: 128px;
    border-bottom: 1.2px solid #3E465F;
}

.rightSide span {
   display: flex;
   width: 492px;
   height: 48px;
   border-bottom: 1.2px solid #3E465F;
   color: #fff;
   font-size: 16px;
   font-weight: 500;
   padding: 12px;
   padding-left: 16px;
}